node_modules
.vite
.env
.env.*
Patient-Only_Build/
.vercel/"dist/" 
.vercel
.env*.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Keep android web assets
!android/app/src/main/assets/public
